@import "colors.css";

* {
	font-family: "JetBrainsMonoNL Nerd Font", "Noto Sans", "Noto Color Emoji", "Noto Emoji";
	color: @cursor;
}

window#waybar {
  background-color: @background-rgba;
}

#window.main {
  margin-left: 20px;
}

#workspaces {
  background-color: @background;
}

#custom-clock {
  margin-right: 10px;
  margin-left: 3px;
}

#custom-spotify-main {
  margin: 0px 3px;
}

#custom-spotify {
  margin-left: 10px;
}

#network {
  margin: 0px 3px;
}

#memory {
  margin: 0px 3px;
}

#cpu {
  margin: 0px 3px;
}

#workspaces button.active {
	border-bottom: 2px solid @on_primary_fixed_variant;
  border-radius: 0px;
}

#workspaces button {
  border-bottom: 2px solid @inverse_on_surface;
  border-radius: 0px;
}
